* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* === RESET === */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}